<div class="article">
  <h2>Contact</h2>
  <p>
    You can cotact any of the memebers for further information.
  </p>
  <h2>The hard working organizers</h2>
  <p> PUT A SMALL LIST OF THE ORGANIZERS HERE....</p>
</div>

