<div class="article">
 <h2>Rails Conference in Buenos Aires Argentina</h2>
 <p>
 We invite the Ruby on Rails community of Argentina and surrounding countries to attend a conference wholly dedicated to the ground-breaking development framework. The first event of its kind in the Southern Cone, the Conference is being manned and spearheaded by the small-yet-expanding Rails community in Buenos Aires. For two days, the event will both host the talks of local and internationally known speakers and provide a space for business, community networking and fun. 
</p>
<p>
The complete program and schedule will be made available to those interested in attending the 2009 Locos por Rails Conference pending confirmation of the event´s keynote speakers and a final assessment of activity proposals. We will keep you posted!
</p>  
</div>
                  
