<div class="article">
 <h2>Locos por Rails Conference in Buenos Aires Argentina</h2>
 <p>
   Attention Ruby on Rails enthusiasts: You are cordially invited to the
   first conference in the Southern Cone dedicated to the ground-breaking
   Ruby on Rails framework. Locos por Rails Conference 2009 will be held on April
   1st and 2nd in Buenos Aires, Argentina. South America's most popular
   travel destimation is the perfect backdrop for two days of local and
   international presentations, networking, and fun.
 </p>
<p>
  Interested in attending? The complete Locos por Rails 2009 program and
  schedule wil be available once we have confirmed the keynote event and
  finalized the schedule. Follow our twitter to stay informed <a href="http://twitter.com/locosxrails" target="_blank">http://twitter.com/locosxrails</a>
</p>
<p>
  Interested in participating? See our <a href="http://locosxrails.com/papers">Call For Participation Overview</a> page.
</p>
</div>
