<div class="article">
 <h2><%= s("Locos por Rails Conference in Buenos Aires Argentina") %></h2>
 <p>
   <%= s("Attention Ruby on Rails enthusiasts") %>
 </p>
<p>
  <%= s("Interested in attending?") %>
</p>
<p>
  <%= s("Interested in participating?") %>
</p>
</div>
