<div class="article">
 <h2>Rails Conference in Buenos Aires Argentina</h2>
 <p>Can someone who can be considered a writer, write something here.</p>
</div>
                  
<div class="article">
 <h2>Use this as news articles</h2>
 <p>This place should be used to update with the latest news...</p>
 </div>
 
