<div class="article">
  <h2>Call For Papers</h2>
  <p>
    Locos por Rails 2009 has an open agenda and all papers will be
    considered. Those interested in submitting papers
    should contact the <a href="mailto:papers@locosxrails.com">Confernce Organizers</a> as
      early as possible to receive an author's kit.
  </p>
  <p>The call for papers will close 23:59 03-01, 2009
</div>
