<% if lang == 'en' %>
<div id="content" class="presenters_kit">
  <h2>Locos Por Rails Conference Presenter&rsquo;s Kit</h2>

  <h3>Essentials</h3>

  <h4>Venue</h4>

  <p>The conference will be held at the <a href=
  "http://www.palermo.edu/">Universidad de Palermo</a> in <a href=
  "http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Mario+Bravo+1050,+Buenos+Aires+Argentina&amp;sll=37.0625,-95.677068&amp;sspn=40.86791,65.214844&amp;ie=UTF8&amp;z=16&amp;iwloc=addr">
  Buenos Aires, Argentina</a>.</p>

  <h4>Timeline</h4>

  <ul>
    <li>Conference dates: April 3-4, 2009</li>

    <li>Proposal submission deadline: Feb 15, 2009</li>

    <li>Acceptance notification date: March 3: 2009</li>
  </ul>

  <h3>Proposal Guidelines</h3>

  <p>Your proposal should be emailed to <a href=
  "papers@locosporrails.com">papers@locosporrails.com</a> by
  February 15, 2009.</p>

  <p>Your presentation&rsquo;s subject matter is very open but
  should of course be something related to Ruby on Rails, or Ruby.
  Presentations should generally be at an intermediate level; the
  audience will largely be interemediate-level developers, with
  some newbies and some experts.</p>

  <p>We will let you know if your proposal has been accepted by
  March 3, 2009.</p>

  <h3>Presentation Guidelines</h3>

  <h4>General info</h4>

  <h5>Timing</h5>

  <p>Each presentation is allotted 45 minutes. Please allow roughly
  10 minutes for discussion at the end of the presentation, and 5
  minutes at the beginning for a brief introduction by the
  conference organizers. This leaves you with about 30 minutes
  actual presentation time.</p>

  <h5>Equipment</h5>

  <p>We will provide a slide projector with VGA and DVI inputs and
  a microphone. If you have a recent model Mac that has a mini- or
  micro- DVI port, please bring an adapter just in case we are
  unable to provide one.</p>

  <h5>Audience</h5>

  <p>The conference will have roughly 100-150 attendees. During
  each non-keynote talk talk there will be room available for a
  &ldquo;lightning talk&rdquo; or some other self-organized
  activity for those attendees who are not interested in the main
  talk. We are guessing 70-80% of the attendees will attend each
  talk, but this is of course hard to predict. So plan on audience
  size of anywhere from 50-150 people.</p>

  <h5>Licensing</h5>

  <p>You must agree to give your presentation under an
  Attribution-Noncommercial-No Derivative Works Creative Commons
  license so that we may photograph, transcribe and/or film it, and
  upload any photos, transcripts or videos to share with the
  Ruby/Rails community. You are encouraged, but not required, to
  make your slides available under the same license.</p>

  <h5>Speaker Benefits</h5>

  <ul>
    <li>Free conference pass.</li>

    <li>You may bring one guest for free.</li>

    <li>Free dinner party for speakers, their guests, and the
    organizers after the conference.</li>
  </ul>

  <h5>Restrictions</h5>

  <ul>
    <li>Your talk can not be just an advertisement for a commercial
    product.</li>

    <li>Speakers are not reimbursed for their expenses.</li>

    <li>No speaker substitutions unless agreed upon with the
    conference organizers.</li>
  </ul>

  <h4>Presentations in English</h4>

  <h5>Audience Considerations</h5>

  <p>Keep in mind that the audience will be mostly non-native
  English speakers, and that there will be no simultaneous
  interpretation to Spanish. The audience will have good to
  excellent understanding of technical English, but may have
  difficulty understanding puns, cultural references or obscure
  jokes. Depending on where you are from (Americans from the east
  coast, this is for you), you may need to speak a little more
  slowly than usual.</p>

  <h3>Updates to this document</h3>

  <p>This document was last updated on Jan 20, 2009. The most
  recent copy can always be found at:</p>

  <p><a href=
  "http://locosporrails.com/presenters-kit">http://locosporrails.com/presenters-kit</a></p>
</div>
<% elsif lang == 'es' %>
  VERSIÓN EN CASTELLANO
<% end %>