<div class="article">
  <h2>Registration</h2>
  <p>
    Registration for Locos por Rails 2009 is not yet open. Follow our <a href="http://twitter.com/locosxrails" target="_blank">twitter</a> to recieve updates and
    registration information as it becomes availble.
  </p>
</div>

