<div class="article">
  <h2>Registration</h2>
  <p>We haven't open for registration yet.
    Please come back when we have or leave your email and 
    we'll let you know when its open.
  </p>
</div>

