<div class="article">
  <h2>Schedule</h2>
  <p>
    Events will be posted here as they become finanlized.

    We invite you to read the <a href="/papers">Call For Participation</a> to learn
    more about ways to contribute and participate.
  </p>
</div>
