<div class="article">
  <h2>Sponsor packages</h2>

 <div>
   <p>Locos por Rails 2009 is the inaugural conference for the Ruby on Rails
     community in the Southern Cone. Take advantage of this effective
     opportunity to market your company, products and/or services to the
     most influential people defining and leveraging Ruby on Rails today.
     We offer several sponsorship levels with excellent marketing
     opportunities and benefits within each category.
    </p>
  <ul>
  <li>Target Audience &#8211; Medium to advanced Rails and Ruby programmer.</li>
    <li>Participants expected &#8211; 100 to 150</li>
    <li>When &#8211; 3rd and 4th of April 2009</li>
  </ul>
</div>

  <h3>Platinum U$S 3500 </h3>
  <ul>
  <li>Logo on web-page</li>
    <li>Full page logo in programme</li>
    <li>Logo on t-shirt</li>
    <li>Lanyard sponsorship</li>
    <li>Exhibit table</li>
    <li>Logo in conference video</li>
    <li>Banner on main stage</li>
  </ul>

  <h3>Gold U$S 2000</h3>
  <ul>
  <li>Logo on web-page</li>
    <li>Logo on t-shirt</li>
    <li>Logo in programme</li>
    <li>Logo in conference video</li>
    <li>Exhibit table</li>

  </ul>

  <h3>Silver U$S 1000</h3>

  <ul>
  <li>Logo on web page</li>
    <li>Logo on t-shirt</li>

    <li>Exhibit table</li>
  </ul>

  <h3>Bronze U$S 500</h3>
  <ul>
  <li>Logo on web page</li>
    <li>Logo in programme</li>
  </ul>


  <h3>Other sponsor opportunities</h3>
  <ul>
  <li>Exhibit table &#8211; U$S 500</li>

    <li>Lunch sponsor &#8211; 
 Sponsor lunch and get your logo on screen during lunch</li>
    <li>Evening event sponsor
 Sponsor an unforgettable evening for the participants</li>
    <li>Contact information of participants</li>
    <li>Any donations are greatly appreciated :)</li>
  </ul>
</div>
