<div class="article">
  <h2>Sponsor packages</h2>



  <p>Locos X Rails Railers hereby known as the organizers is a non-profit &#8220;organization&#8221; trying to promote rails for the web development community in Argentina and the region around. Hoping to bring together both businesses and the programmers in the community. It will also function as a bridge for the growing expat community to easily find this group of peer Railers.</p>
 <div>
  <ul>
  <li>Target Audience &#8211; Medium to advanced Rails and Ruby programmer, businesses curious about this technology</li>
    <li>Participants expected &#8211; 100 to 150</li>
    <li>When &#8211; 1st and 2nd of April 2009</li>

  </ul>
</div>

  <h3>Platinum U$S 3500 </h3>
  <ul>
  <li>Logo on web-page</li>
    <li>Full page logo in programme</li>
    <li>Logo on t-shirt</li>

    <li>Lanyard sponsorship</li>
    <li>Exhibit table</li>
    <li>Logo in conference video</li>
    <li>Banner on main stage</li>
  </ul>

  <h3>Gold U$S 2000</h3>
  <ul>
  <li>Logo on web-page</li>
    <li>Logo on t-shirt</li>
    <li>Logo in programme</li>
    <li>Logo in conference video</li>
    <li>Exhibit table</li>

  </ul>

  <h3>Silver U$S 1000</h3>

  <ul>
  <li>Logo on web page</li>
    <li>Logo on t-shirt</li>

    <li>Exhibit table</li>
  </ul>

  <h3>Bronze U$S 500</h3>
  <ul>
  <li>Logo on web page</li>
    <li>Logo in programme</li>
  </ul>


  <h3>Other sponsor opportunities</h3>
  <ul>
  <li>Exhibit table &#8211; U$S 500</li>

    <li>Lunch sponsor &#8211; 
 Sponsor lunch and get your logo on screen during lunch</li>
    <li>Evening event sponsor
 Sponsor an unforgettable evening for the participants</li>
    <li>Contact information of participants</li>
    <li>Any donations are greatly appreciated :)</li>
  </ul>
</div>
