<div class="article">
  <h2><%= s("Sponsor packages") %></h2>

  <div>
    <p><%= s("sponsors_packages_intro") %></p>
    <p><%= s("sponsors_packages_data_list") %></p>
  </div>

  <h3>Platinum</h3>
  <ul>
    <li>Logo on web-page</li>
    <li>Full page logo in programme</li>
    <li>Logo on t-shirt</li>
    <li>Lanyard sponsorship</li>
    <li>Exhibit table</li>
    <li>Logo in conference video</li>
    <li>Banner on main stage</li>
  </ul>

  <h3>Gold</h3>
  <ul>
    <li>Logo on web-page</li>
    <li>Logo on t-shirt</li>
    <li>Logo in programme</li>
    <li>Logo in conference video</li>
    <li>Exhibit table</li>
  </ul>

  <h3>Silver</h3>
  <ul>
    <li>Logo on web page</li>
    <li>Logo on t-shirt</li>
    <li>Exhibit table</li>
  </ul>

  <h3>Bronze</h3>
  <ul>
    <li>Logo on web page</li>
    <li>Logo in programme</li>
  </ul>

  <h3>Other sponsor opportunities</h3>
  <ul>
    <li>Exhibit table</li>
    <li>Lunch sponsor &#8211; Sponsor lunch and get your logo on screen during lunch</li>
    <li>Evening event sponsor Sponsor an unforgettable evening for the participants</li>
    <li>Contact information of participants</li>
    <li>Any donations are greatly appreciated :)</li>
  </ul>
</div>
