@import url('reset.css');

/*(C)2008 (X)HTML and CSS by Nicolas Calabrese | www.sikker.com.ar */

/************************************************************************************************************************************************
  S T Y L E S   B Y   S E C T I O N
-------------------------------------------------------------------------------------------------------------------------------------------------
  $ Common Styles
  $ Home Page (index.html)
************************************************************************************************************************************************/

/* ·············································································································································
 $ Common Styles
············································································································································· */

body {text-align:center; background:url(/images/body-bg.jpg) repeat-x; }
#wrapper {text-align:left; width:808px; margin:0 auto; }



/* Header */

      #header {}

            #header h1 {float:left; margin:20px 0 0 -85px; position:relative; }
            #header h2 {width:152px; height:23px; position:relative; float:right; margin:33px 0 27px 0; }
            #header h2 span {width:152px; height:23px; position:absolute; top:0; left:0; no-repeat; }

            #header .controls {clear:both; width:821px; height:43px; background:url(/images/controls-bg.jpg) no-repeat;}
                  #header .nav {margin:0 5px;}
                        #header .nav li {float:left; background:url(/images/header-nav-li-bg.jpg) no-repeat right top; height:32px; line-height:32px; margin:7px 0 0; padding:0 10px;}
                              #header .nav li a {color:#fff; text-decoration:none; font-weight:bold; font-size:1.1em; }
                              #header .nav li a:hover {text-decoration:underline; }

            #header .featured {color:#BFBFBF; padding:30px 10px; }
                  #header .featured h3 {font-size:1.7em; font-weight:normal; float:left; }
                  #header .featured div {float:left; height:110px; margin:0 0 0 20px;  }
                        #header .featured h4 {color:#fff; font-size:3.5em; font-weight:normal; margin:8px 0 0 0; }
                        #header .featured p {font-size:1.7em; margin:10px 0 0 0 ; }
                  #header .featured .button {width:75px; height:75px; background:url(/images/header-featured-button-bg.jpg) no-repeat; text-indent:-5000px;  display:block;
                  float:right; margin:-10px -18px 0 0; }
                  #header .featured .button:hover {background:url(/images/header-featured-button-bg.jpg) no-repeat 0 -75px;}




/* Content */

      #content {clear:both; background:url(/images/content-bg.jpg) repeat-y; color:#626363; font-size:1.2em;}
            #content h2 {font-size:1.2em; color:#D41F26;color:#D41F26; font-size:1.4em; font-weight:normal; margin:0 0 0.8em 0;}
            #content p {margin:0 0 1.1em 0;}
                  #content strong, #content b, #content h3 {color:#444}
                  #content a {color:#D41F26; text-decoration:none!; }
                  #content a:hover {color:#D41F26; text-decoration:underline; }
                  #content ul li {background:url(/images/content-li-bg.gif) no-repeat 0 1px; padding:0 0 0 25px;}

      /* Main */
      #content .main { width:500px; float:left; margin:0 0 0 10px;  }
      #content .main .article {margin:0 0 2.4em; }


      /* Sidebar */
      #content .related {float:right; margin:20px 30px 0 0; right:20px; width:210px; overflow:hidden; }
            #content .related .section {border-top:1px solid #D8D8D8; margin:0 0 1em; padding:1em 0 0; position:relative; top:-1em; }
            #content .related .section h4 {text-align:center; font-weight:normal; color:#777; margin:10px 0 0 0; }
            #content .related .section img {margin:0 auto; display:block; }


/* Footer */

      #footer {margin:20px 0; width:808px; height:38px; background:url(/images/footer-bg.jpg) no-repeat; }
            #footer p {float:left; color:#BABABA; font-size:0.9em; margin:10px 20px;}
                  #footer p a {color:#fff; text-decoration:none; }
                  #footer p a:hover {text-decoration:underline; }
            #footer p.feed {float:right; background:url(/images/footer-feed-bg.jpg) no-repeat 0 50%; padding: 0 0 0 20px; }


/* ·············································································································································
 $ Home Page
············································································································································· */

/* Header */
      #header {}


/* Content */

      /* Main Content */
      #content {}


      /* Sidebar */
      #related-content {}



/* Footer */

      #footer {}
      #language_selector { float: right;}
      #language_selector a { padding: 0 0 0 22px; color: #D41F26;}
      #language_selector a.ar { background: transparent url(/images/flags/ar.png) top left no-repeat;}
      #language_selector a.au { background: transparent url(/images/flags/au.png) top left no-repeat;}
      #language_selector a.ca { background: transparent url(/images/flags/ca.png) top left no-repeat;}
      #language_selector a.gb { background: transparent url(/images/flags/gb.png) top left no-repeat;}
      #language_selector a.nz { background: transparent url(/images/flags/nz.png) top left no-repeat;}
      #language_selector a.us { background: transparent url(/images/flags/us.png) top left no-repeat;}

/* Presenter's Kit */

    .presenters_kit h3, .presenters_kit h4, .presenters_kit h5 {margin: 0 0 10px 0;}
    .presenters_kit ul {margin : 0 0 20px 0;}

#twitter_update_list li { margin: 0 0 10px 0;}















